*{
    box-sizing: border-box;
    font-family: raleway;
}
html, body {
margin: 0;
padding: 0;
}
.nav ul {
margin: 0;
}

.main-header {
background-image: url(Images/Header\ Background.jpg);
background-size: cover;
background-color: rgba(0, 0, 0, .6);
background-blend-mode: multiply;
}